@page

@model Panda.Areas.Identity.Pages.Account.RegisterModel

@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-6">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Skapa nytt konto</h2>
            <hr />

            <div class="form-floating mb-3">
                <input asp-for="Input.FullName" class="form-control" autocomplete="name" />
                <label asp-for="Input.FullName"></label>
                <span asp-validation-for="Input.FullName" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" />
                <label asp-for="Input.Email"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" />
                <label asp-for="Input.Password"></label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" />
                <label asp-for="Input.ConfirmPassword"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <select asp-for="Input.SelectedRole" class="form-select">
                    <option>Talang</option>
                    <option>Mentor</option>
                    <option>Arbetsgivare</option>
                </select>
                <label asp-for="Input.SelectedRole"></label>
                <span asp-validation-for="Input.SelectedRole" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">Registrera</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
